/* ну и почему мы не пулимся-то?? */

body{
    margin: auto;
    padding: 0;

    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    text-transform: none;
    width: 100%;

    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.visualli-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a{
  display: inline-block;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

ul{
  list-style-type: none;
}

img{
  max-width: 100%;
  height: auto;
}

.margin-cont{
  width: 940px;
  margin: auto;
}

.page-header{
  background-color: #f3f7f8;
}

.user-nav-back{
  background-color: #293449;
  width: 100%;
}

.user-navigation{
  background-color: #293449;
  width: 940px;
  height: 41px;

  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-text-logo{
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  width: 220px;
  min-height: 42px;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text-logo-button{
  color: #ffffff;
}

.header-text-logo:hover{
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.header-text-logo:active{
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.user-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 435px;
}

.user-navigation-button{
  position: relative;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 44px;
  padding-right: 28px;

}

.opacity-text-nav:active{
  opacity: 0.3
}

.green-background{
  color: #ffffff;
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 22px;
}

.label-main-search::before{
  content: url(../img/icon-search.svg);
  opacity: 0.3;
}

.label-main-search:hover::before{
  opacity: 1;
}

.bookmark-icon::before{
  position: absolute;
  content: url(../img/icon-bookmark.svg);
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.bookmark-icon:hover::before{
  opacity: 1;
}

.bookmark-icon:active{
  background-color: #161d29;
  opacity: 0.3;
}

.cart-icon::before{
  position: absolute;
  content: url(../img/cart-icon.svg);
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.cart-icon:hover::before{
  opacity: 1;
}

.cart-icon:active{
  opacity: 0.3;
  background-color: #161d29;
}

.cart-icon-catalog::before{
  position: absolute;
  content: url(../img/cart-icon.svg);
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.cart-icon-catalog:hover::before{
  opacity: 1;
}

.dark-back{
    background-color: #293449;
}

.dark-back:hover{
  background-color: #212a3a;
}

.green-background:hover{
  background-color: #5fbb2d;
}

.green-background:active{
  opacity: 0.7;
}

.page-header-info-block{
  max-width: 940px;
  min-height: 160px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-info{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

  max-width: 204px;
  margin-left: 52px;
}

.header-contacts-number{
  position: relative;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 2px solid #ffffff;

  padding-top: 7px;
  padding-bottom: 7px;

  margin: 0px;
}

.header-contacts-number::before{
  position: absolute;
  content: url("../img/icon-phone.svg");
  top: 8px;
  left: 10px;
}

.header-contacts-info{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  margin: 0px;
  padding-top: 15px;
}

.user-modal-link{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 27px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login-icon{
  position: relative;
  padding-left: 48px;
}

.opacity-text:hover{
  color: #ee3643;
}

.opacity-text:active{
  color: #000000;
  opacity: 0.3;
}

.login-icon::before{
  position: absolute;
  content: url("../img/icon-login.svg");
  opacity: 0.3;
  top: 14px;
  left: 14px;
}

.login-icon:hover::before{
  content: url("../img/icon-login.svg");
  opacity: 1;
}

.login-icon:active::before{
  content: url("../img/icon-login.svg");
  opacity: 0.3;
}

.header-main-menu{
  max-width: 940px;

  display: flex;
  justify-content: center;
}

.header-main-menu-list{
  padding: 0;
  margin: 0;
  margin-left: 0px;
  max-width: 940px;
  padding-bottom: 60px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-main-menu-button{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;

  border-bottom: 5px solid #293449;

  padding-left: 34px;
  padding-right: 33px;
  padding-top: 13px;
  padding-bottom: 14px;

  box-sizing: border-box;
}

.header-main-menu-button:hover{
  background-color: #293449;
}

.site-services{
  margin-top: 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-services-slaid{
  display: flex;
  flex-wrap: nowrap;
}

.site-services-item{
  position: relative;
  width: 300px;
  min-height: 123px;

  padding: 23px;
  margin-top: 20px;

  box-sizing: border-box;
}

.site-services-text{
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
}

.site-services-item-button{
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(229, 229, 229, 0.5);

  padding: 10px;
  width: 110px;

}

.site-services-item-button:hover{
  background-color: rgba(204, 204, 204, 0.5);
}

.site-services-item-button:active{
  background-color: rgba(178, 178, 178, 0.5);
}

.additional-image::before{
  position:absolute;
  content: url("../img/new-flag.png");
  top: 0px;
  right: 0px;

  z-index: 20;
}


.material-icon::after{
  position:absolute;
  content: url("../img/icon-materials.svg");
  top: 30px;
  right: 43px;
}

.instrument-icon::after{
  position:absolute;
  content: url("../img/icon-tool.svg");
  top: 30px;
  right: 28px;
}

.technology-icon::after{
  position:absolute;
  content: url("../img/icon-technology.svg");
  top: 30px;
  right: 30px;
}

.discount-icon::after{
  position:absolute;
  content: url("../img/icon-discount.svg");
  top: 25px;
  right: 45px;
}

.delivery-icon::after{
  position:absolute;
  content: url("../img/icon-delivery.svg");
  top: 32px;
  right: 30px;
}

.orange-back{
  background-color: #ffbf47;
}

.blue-back{
  background-color: #3bbce3;
}

.purple-back{
  background-color: #dc91d8;
}

.green-ground{
  background-color: #8ed78f;
}

.light-orange-back{
  background-color: #ffc047;
}

.main-slider{
  margin: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 25px;

}

.one-slide{
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
}

.two-slide{
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;

  display: none;
}

.main-slider-work{
  width: 620px;
  height: 266px;

  box-sizing: border-box;
  padding: 25px 25px;
}

.main-slider-bold-text{
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0px;
}

.main-slider-text{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 110px;

  padding-top: 10px;
}

.main-slider-button{
  border-radius: 2px;
  padding: 10px 50px;
}

.main-slider-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.main-slider-button:hover{
  background-color: #ca2c37;
}

.main-slider-button:active{
  background-color: #ba2732;
}

.site-services-text-link{
  margin: 0;
}

.main-price-block-title{
  display: flex;
  align-items: center;
  width: 940px;
  margin-bottom: 20px;
  background-color: #faf7f3;
}

.bold-item-text{
  font-size: 30px;
  text-align: 30px;
  color: #32425c;
}

.price-block-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;

  margin-left: auto;
}

.price-block-buy-button{
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  width: 135px;
  height: 38px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 9px;
  margin-left: 40px;
}

.price-block-button:hover{
  background-color: #ca2c37;
}

.price-block-button:active{
  background-color: #ba2732;
}

.border-line{
  border: 3px solid #63a63e;
  width: 135px;
}

.border-line:hover{
  border: 3px solid #32425c;
}

.border-line:active{
  opacity: 0.3;
}

.green-back{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;

  margin-top: 30px;
  margin-bottom: 8px;
}

.green-back:hover{
  background-color: #5fbb2d;
}

.green-back:active{
  background-color: #367315;
}

.green-back:before{
  position: absolute;
  content: url(../img/cart-icon.svg);
  opacity: 0.3;
  left: 55px;
  top: 40px;
}

.green-back:hover::before{
  content: url(../img/cart-icon.svg);
  opacity: 1;
}

.main-price-block{
  margin-bottom: 20px;
}

.price-block{
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.price-block-catalog{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  width: 700px;
}

.price-block-element{
  position: relative;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 318px;

  box-sizing: border-box;
}

.price-block-element:not(:last-child){
  margin-right: 20px;
}

.price-block-element-catalog{
  position: relative;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 318px;

  box-sizing: border-box;

  margin-top: 20px;
}

.price-block-element-catalog .price-block-buy{
  display: none;
}

.price-block-element-catalog:hover .price-block-buy{
  display: block;
}

.price-block-buy{
  position: absolute;
  top: 2px;
  left: 0px;
  width: 210px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;

  display: flex;
  flex-direction: column;
}

.price-block-element .price-block-buy{
  display: none;
}

.price-block-element:hover .price-block-buy{
  display: block;
}

.price-block-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-align: center;

  max-width: 160px;
  padding-left: 30px;
}

.price-block-price,.grey-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  font-weight: bold;
  text-align: center;
  text-decoration: line-through;

  margin: 0px;
}

.price-block-link{
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 22px;
  box-sizing: border-box;
  width: 140px;
  text-align: center;
  margin-left: 40px;

  background-image: url(../img/btn14.png);
  background-repeat: no-repeat;
  background-position: center;
}

.top-bot{
  padding-bottom: 15px;
}

.item-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 940px;
}

.item-block-title{
  background-color: #f9f5f0;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold-brands-text{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.all-brands-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;

  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.all-brands-button:hover{
  background-color: #ca2c37;
}

.all-brands-button:active{
  background-color: #ba2732;
}

.brands-block-item{
  color: #ffffff;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  width: 220px;
  height: 145px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-block-item:not(:nth-child(4)):not(:nth-child(8)){
  margin-right: 17px;
}

.services-block{
  background-color: #f4f8f9;
}

.services-block-text-bold{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  padding-left: 0px;
}

.services-block-text{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  width: 402px;
}

.services-link{
  position: relative;
  display: flex;
  flex-direction: column;
}

.services-link::after{
  position: absolute;
  content: url(../img/118.png);
  right: 0px;
  top: -40px;
  width: 10px;
  height: 279px;
}

.services-button{
  font-size: 21px;
  line-height: 30px;
  font-style: bold;
  background-color: #32425c;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 140px;
}

.services-button:hover{
  background-color: #293449;
}

.services-button:active{
  color: #32425c;
  background-color: #ffffff;
}

.services-bold-text{
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  margin: 0px;
}

.services-text{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
}

.delivery-text{
  max-width: 278px;
}

.services-car:after{
  content: url("../img/delivery.png");
  position: absolute;
  right: -400px;
  bottom: 0px;
}

.services-car{
  display: none;
}

.services-credit::after{
  position: absolute;
  content: url("../img/credit.png");
  right: -350px;
  bottom: 0px;
}

.credit-text{
  width: 283px;
  padding-bottom: 20px;
}

.credit-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  border-radius: 2px;

  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 10px;
}

.credit-button:hover{
  background-color: #ca2c37;
}

.credit-button:active{
  background-color: #ba2732;
}

.company-info-block{
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  padding-bottom: 85px;
}

.company-info-bold-text{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin: 0px;
}

.company-info-text{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  width: 526px;
}

.company-info-list-item{
  position: relative;
}

.company-info-list-item::before{
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 9px;
  left: -40px;
}

.list-item-text{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.about-company-info{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 15px;
}

.about-company-info:hover{
  background-color: #ca2c37;
}

.about-company-info:active{
  background-color: #ba2732;
}

.company-map-info{
  display: flex;
  flex-direction: column;
}

.map-text{
  font-family: "PT Sans", Arial, sans-serif;
  width: 184px;
}

.map-container{
  padding-bottom: 20px;
}

.map-button-info{
  font-size: 14px;
  font-family: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 10px;
}

.map-button-info:hover{
  background-color: #ca2c37;
}

.map-button-info:active{
  background-color: #ba2732;
}

.footer-logo{
  height: 68px;
}

.footer-contaner{
  background-color: #32425c;
}

.footer-navigation-link,
.footer-info-text,
.contacts-footer-number{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  margin: 0px;
}

.footer-info-text{
  width: 350px;
  margin-top: 25px;
  padding-bottom: 35px;
}

.footer-navigation-link.gold-text{
  color: #ffd180;
}

.footer-navigation-link:hover{
  text-decoration: underline;
}

.footer-navigation-link:active{
  text-decoration: none;
  opacity: 0.3;
}

.copyright-back{
  background-color: #293449;
}

.page-copyright{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: flex;
  justify-content: space-between;
}

.page-copyright-text{
  width: 238px;
}

.social-item{
  padding-right: 5px;
}

.social-link{
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;


  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover{
  background-color: #ee3643;
}

.gold-text{
  color: #ffd180;
}

.red-text:active{
  color: #ee3643;
}

.sorting-link{
  padding: 0px;
}

.icon-sorting-bottom{
  margin-left: 20px;
}

.icon-sorting-top{
  content: url(../img/icon-sorting-top.svg);
  opacity: 0.3;
}

.icon-sorting-top:hover{
  content: url(../img/icon-sorting-top.svg);
  opacity: 1;
}

.icon-sorting-bottom{
  content: url(../img/icon-sorting-bottom.svg);
  opacity: 0.3;
}

.icon-sorting-bottom:hover{
  content: url(../img/icon-sorting-bottom.svg);
  opacity: 1;
}

.social-link-vk{
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-fb{
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-insta{
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* catalog */

.red-back{
  background-color: #ee3643;
}

.login-contaner{
  background-color: #fff;
  width: 299px;


  display: flex;
}

.user-name{
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  padding-left: 47px;
  padding-top: 9px;
  padding-bottom: 9px;

  margin: 0px;
}

.login-out{
  position: relative;
}

.user-name::before{
  position: absolute;
  content: url("../img/icon-user.svg");
  opacity: 0.3;
  top: 11px;
  left: 14px;
}

.login-out::after{
  position: absolute;
  content: url("../img/icon-logout.svg");
  opacity: 0.3;
  top: 11px;
  right: -54px;
}

.user-name:hover::before{
  content: url("../img/icon-user.svg");
  opacity: 1;
}

.login-out:hover::after{
  content: url("../img/icon-logout.svg");
  opacity: 1;
}

.login-out:active::after{
  content: url("../img/icon-logout.svg");
  opacity: 0.3;
}

.user-name:active{
  opacity: 0.3;
}

.modal-button-text-underlog{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  padding: 0px;
  padding-left: 15px;
  padding-top: 7px;
  padding-right: 15px;

}

.point-element{
  position: relative;
}

.point-element::before{
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #32425c;

  top: 15px;
  left: 102px;
}

.modal-button-text-underlog:hover{
  color: #ee3643;
}

.modal-button-text-underlog:active{
  color: #32425c;
  opacity: 0.3;
}

.breadcrumbs-list{
  display: flex;
  align-items: center;

  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.breadcrumbs-list-button{
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: 13px;
  line-height: 18px;
  color: #000000;

  padding-right: 15px;

  margin: 0px;
}

.icon-right{
  padding-left: 25px;
}

.icon-right::before{
  position: absolute;
  content: url(../img/icon-right-small.png);
  top: 2px;
  left: 0px;
}

.img-link:before{
  content: url("../img/icon-home.svg")
}

.info-catalog-back{
  background-color: #f2f6f8;
}

.info-block-catalog{
  padding-top: 60px;
  padding-bottom: 60px;
}

.catalog-text-bold{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;

  margin: 0px;
}

.catalog-block{
    background-color: #f2f6f8;
    padding: 25px 30px;
    box-sizing: border-box;

    margin-bottom: 20px;
}

.grey-back{
  background-color: #f7f3ec;
}

.filter-text{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin: 0px;

  border-radius: 2px;
}

.filter-text-link{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}

.underline-text{
  color: #c5c5c5;
  border-bottom: 1px dotted #ee3643 ;
}

.underline-text:hover{
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.underline-text:active{
  color: #ee3643;
  border-bottom: none;
}

.range{
  margin-top: 20px;
}

.range-controls {
	position: relative;
  display: block;
  width: 160px;
	height: 80px;
	margin: 0 0 10px;
	padding: 0 30px;
	overflow: hidden;
  background: #f7f3ec;
  border-radius: 3px;
}

.scale {
	height: 2px;
	margin-top: 39px;
	background: #d7dcde;
}

.bar {
	width: 87%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .min-toggle {
	left: 21px;
}

.range-controls .max-toggle {
	left: 160px;
}

.price-controls {
	margin-bottom: 26px;
	color: #000;
}

.price-min,
.price-max {
	width: 81px;
	padding: 8px 2px 10px 8px;
	margin: 0;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans","Arial",sans-serif;
	text-align: center;
	background-color: #f7f3ec;
	border: none;
	border-radius: 3px;
}

.price-min + span {
	margin-left: 9px;
	font-size: 17px;
	line-height: 30px;
}

.price-max {
	margin-left: 10px;
}

.pagination-item-link{
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding: 10px 18px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 10px;
}

.pagination-item-link:hover{
  border: 1px solid #bdc6ca;
}

.pagination-item-link:active{
  background-color: #ee3643;
  color: #ffffff;
  border: none;
}

/* INDEX FLEX */


.services-text-area{
  padding-top: 50px;
  margin-bottom: 70px;
}

.servise-guarantee{
  display: none;
}

.servise-guarantee::after{
  position: absolute;
  content: url("../img/guarantee.png");
  right: -250px;
  bottom: 0px;
}

.services-credit{
  /* display: none; */
}

.services-slider{
  display: flex;
  margin: 0px;
}

.services-slide{
  position: relative;
  padding-bottom: 130px;
  margin-left: 80px;
}

.footer-navigation{
  display: flex;
  justify-content: space-between;
}

.footer-navigation-gold-text{
  margin-left: auto;
}

.footer-navigation-link{
  padding: 10px 60px;
}

.footer-navigation-link:last-child{
  padding-right: 0px;
}

.main-footer-info-block{
  display: flex;
}

.page-developer{
  width: 100px;
}

.footer-navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 10px;
}

.parth-two{
  margin: 0;
  padding: 0px;
}

.social-list{
  display: flex;
}

.user-modal-list{
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.catalog-flex-block{
  display: flex;
}

.filters{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.price-block{
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}

.price-block-catalog{
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 700px;
}

.info-container-catalog{
  width: 940px;
  margin: 0 auto;
}

.filters-block{
  min-width: 220px;
  padding: 13px 20px;
  box-sizing: border-box;
}

.filters-block-sort{
  width: 700px;
  padding: 10px 20px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.filters-block-right{
  min-width: 400px;
  margin-left: 120px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
}

.check-box-filters{
  display: flex;
  flex-direction: column;
}

.price-item-catalog{
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.pagination-list{
  padding: 0px;
  padding-left: 238px;
  margin: 0px;
  margin-top: 52px;
  margin-bottom: 60px;
  display: flex;
}

.modal-page-map{
  position: absolute;
  bottom: -1900px;
  left: 640px;
  width: 620px;
  height: 430px;
  background-color: #fff;
  border-top: 7px solid #ff5357;
  box-sizing: border-box;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-top: 50px;


  display: flex;
  flex-direction: column;
  display: none;
}

.modal-map-page-form{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.your-email-block{
  margin-left: auto;
}

.modal-page-bold-text{
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
}

.modal-page-button{
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  background-color: #ff5357;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-page-button:hover{
  background-color: #ca2c37;
}

.modal-page-button:active{
  background-color: #ba2732;
}

.modal-close::before{
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ff5357;

  top: 25px;
  right: 9px;
}

.modal-close::after{
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #ff5357;

  top: 25px;
  right: 9px;
}

.buy-modal-page{
  width: 620px;
  height: 280px;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 7px solid #ff5357;
}

.buy-modal-text{
  font-size: 30px;
  line-height: 30px;
}
