body{
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    text-transform: none;

    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;

    width: 100%;

    margin: auto;
    padding: 0;

}

.visualli-hidden{
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

ul{
  list-style-type: none;
}

img{
  max-width: 100%;

  height: auto;
}

.margin-cont{
  width: 942px;

  margin: auto;
}

.page-header{
  background-color: #f3f7f8;
}

.user-nav-back{
  background-color: #293449;

  width: 100%;
}

.user-navigation{
  background-color: #293449;

  height: 42px;

  margin-bottom: auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
}

.header-text-logo{
  font-size: 23px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;

  width: 220px;
  min-height: 42px;

  margin: 0;
  margin-left: 1px;
  margin-bottom: auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text-logo-button{
  color: #ffffff;

  padding-top: 2px;
  padding-left: 2px;
}

.header-text-logo:hover{
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.header-text-logo:active{
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.main-search{
  position: relative;
  display: inline-block;
  vertical-align: baseline;

  width: 275px;
  height: 100%;
}

.main-search-input{
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  border: none;

  width: 100%;
  height: 100%;

  padding-left: 48px;
}

.main-search-input:focus{
  background-color: #fff;
  color: #000;
}

.input[type="search"]::-webkit-input-placeholder {
color: #fff;
}

.input[type="search"]::-moz-placeholder {
color: #fff;
}

.user-navigation-list{
  padding: 0px;

  margin: 0px;
  margin-bottom: 20px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
}

.user-navigation-button{
  position: relative;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  width: 105px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 6px;
}

.user-navigation-button-cart{
  position: relative;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 43px;
  padding-right: 32px;
}

.user-navigation-button-catalog{
  position: relative;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  width: 105px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 0px;
}

.user-navigation-button-cart-catalog{
  position: relative;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  padding-right: 27px;
}

.user-navigation-button-green{
  position: relative;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #63a63e;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 22px;
}

.icon-search-svg{
  position: absolute;
  fill: #fff;
  opacity: 0.3;
  top: 11px;
  left: 17px;
}

.main-search:hover .icon-search-svg{
  opacity: 1;
}

.main-search-input:focus + .icon-search-svg{
  fill: #ee3643;
  opacity: 1;
}

.bookmark-icon::before{
  position: absolute;
  content: url(../img/icon-bookmark.svg);
  opacity: 0.3;
  top: 11px;
  left: 11px;
}

.bookmark-icon:hover::before{
  opacity: 1;
}

.bookmark-icon:active{
  background-color: #161d29;
  opacity: 0.3;
}

.cart-icon::before{
  position: absolute;
  content: url(../img/cart-icon.svg);
  opacity: 0.3;
  top: 11px;
  left: 12px;
}

.cart-icon:hover::before{
  opacity: 1;
}

.cart-icon:active{
  background-color: #161d29;
  opacity: 0.3;
}

.cart-icon-catalog::before{
  position: absolute;
  content: url(../img/cart-icon.svg);
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

.cart-icon-catalog:hover::before{
  opacity: 1;
}

.cart-icon-catalog:active::before{
  opacity: 0.3;
}

.dark-back{
    background-color: #293449;
}

.dark-back:hover{
  background-color: #212a3a;
}

.green-background:hover{
  background-color: #5fbb2d;
}

.green-background:active{
  opacity: 0.7;
}

.page-header-info-block{
  min-height: 158px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

  max-width: 204px;
  margin-left: 52px;
  margin-top: 24px;
}

.header-contacts-number{
  position: relative;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 2px solid #ffffff;

  width: 247px;

  padding-top: 15px;
  padding-bottom: 9px;
  padding-left: 20px;

  margin: 0px;
  margin-top: 3px;
}

.header-contacts-number-catalog{
  position: relative;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 2px solid #ffffff;

  width: 247px;

  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 20px;

  margin: 0px;
  margin-top: 8px;
  margin-left: 10px;
}

.header-contacts-number::before{
  position: absolute;
  content: url("../img/icon-phone.svg");
  top: 16px;
  left: 11px;
}

.header-contacts-info{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  padding-left: 7px;

  margin: 0px;
  margin-top: 6px;
}

.header-contacts-info-catalog{
  font-size: 14px;
  line-height: 24px;
  color: #32425c;

  padding-left: 21px;

  margin: 0px;
  margin-top: 3px;
}

.user-modal-block{
  margin-bottom: 22px;

}

.login-icon{
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

  padding-left: 48px;
  padding-right: 28px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.form-link{
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

  padding-left: 25px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;

  margin-left: 3px;
}

.user-modal-link:hover{
  color: #ee3643;
}

.user-modal-link:active{
  color: rgba(0, 0, 0, 0.3);
}

.login-icon::before{
  position: absolute;
  content: url("../img/icon-login.svg");
  opacity: 0.3;
  top: 14px;
  left: 14px;
}

.login-icon:hover::before{
  content: url("../img/icon-login.svg");
  opacity: 1;
}

.login-icon:active::before{
  content: url("../img/icon-login.svg");
  opacity: 0.3;
}

.header-main-menu{
  padding-bottom: 60px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-main-menu-list{
  padding: 0;
  margin: 0;
  margin-left: 0px;
  min-width: 940px;
  min-height: 59px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  padding-left: 20px;
  padding-right: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-main-menu-button{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 21px;
  padding-bottom: 17px;

  -webkit-box-sizing: border-box;
}

.header-main-menu-button:hover{
  background-color: #293449;
}

.header-main-menu-button:active{
  background-color: #293449;
  color: rgba(255, 255, 255, 0.3)
}

.button-left{
  padding-left: 32px;
  padding-right: 30px;
  padding-top: 21px;
  padding-bottom: 17px;
}

.button-right{
  padding-left: 30px;
  padding-right: 32px;
  padding-top: 21px;
  padding-bottom: 17px;
}


.site-services{
  margin-top: 40px;
  margin-bottom: 6px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-services-slaid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.site-services-item{
  position: relative;
  width: 300px;
  min-height: 123px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 22px;
  padding-top: 19px;

  margin-top: 20px;
}

.site-services-text{
  margin: 0;
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.site-services-item-button{
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;
  color: #ffffff;
  background-color: rgba(229, 229, 229, 0.5);

  width: 110px;

  padding: 11px;
  padding-left: 16px;


}

.site-services-item-button:hover{
  background-color: rgba(204, 204, 204, 0.5);
}

.site-services-item-button:active{
  background-color: rgba(178, 178, 178, 0.5);
}

.additional-image::before{
  position:absolute;
  content: url("../img/new-flag.png");
  top: -1px;
  right: -1px;

  z-index: 20;
}


.material-icon::after{
  position:absolute;
  content: url("../img/icon-materials.svg");
  top: 30px;
  right: 43px;
}

.instrument-icon::after{
  position:absolute;
  content: url("../img/icon-tool.svg");
  top: 30px;
  right: 28px;
}

.technology-icon::after{
  position:absolute;
  content: url("../img/icon-technology.svg");
  top: 30px;
  right: 30px;
}

.discount-icon::after{
  position:absolute;
  content: url("../img/icon-discount.svg");
  top: 25px;
  right: 45px;
}

.delivery-icon::after{
  position:absolute;
  content: url("../img/icon-delivery.svg");
  top: 32px;
  right: 30px;
}

.orange-back{
  background-color: #ffbf47;
}

.blue-back{
  background-color: #3bbce3;
}

.purple-back{
  background-color: #dc91d8;
}

.green-ground{
  background-color: #8ed78f;
}

.light-orange-back{
  background-color: #ffc047;
}

.main-slider{
  position: relative;

  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

  margin: 0px;
}

.main-slader-left-link::before{
  position: absolute;
  content: url(../img/icon-left.png);
  top: 133px;
  left: 26px;
}

.main-slider-right-link::after{
  position: absolute;
  content: url(../img/icon-right.png);
  top: 132px;
  right: 39px;
}

.one-slide{
  position: relative;
  background-image: url(../img/slider-1.jpg);
  background-repeat: no-repeat;
}

.two-slide{
  position: relative;
  background-image: url(../img/slider-2.jpg);
  background-repeat: no-repeat;
}

.slide-display{
  display: none;
}

.circle-one{
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 38px;
  left: 296px;;
  z-index: 22;
}

.circle-two{
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  bottom: 38px;
  left: 316px;;
  z-index: 50;
}

.circle-ind{
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
  bottom: 40px;
  left: 318px;;
  z-index: 55;
}

.circle-ind-two{
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
  bottom: 40px;
  left: 298px;;
  z-index: 50;
}

.main-slider-work{
  width: 620px;
  height: 266px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 22px 26px;
}

.main-slider-bold-text{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  margin: 0px;
}

.main-slider-text{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  padding-top: 2px;

  margin: 0px;
  margin-bottom: 110px;
}

.main-slider-button{
  border-radius: 2px;
  text-transform: uppercase;

  padding: 10px 47px;

  margin-top: 11px;
}

.main-slider-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
}

.main-slider-button:hover{
  background-color: #ca2c37;
}

.main-slider-button:active{
  background-color: #ba2732;
}

.site-services-text-link{
  margin: 0;
}

.main-price-block-title{
  background-color: #faf7f3;

  width: 940px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 27px;
  padding-right: 22px;

  margin-bottom: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold-item-text{
  font-size: 29px;
  text-align: 30px;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
}

.price-block-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;

  margin-left: auto;
}

.price-block-buy-button{
  font-size: 14px;
  line-height: 18px;
  color: #32425c;
  text-align: center;
  text-transform: uppercase;
  border-radius: 2px;

  width: 135px;
  height: 38px;

  padding: 0;
  padding-top: 9px;

  margin: 0;
  margin-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.price-block-button:hover{
  background-color: #ca2c37;
}

.price-block-button:active{
  background-color: #ba2732;
}

.border-line{
  border: 3px solid #63a63e;

  width: 135px;
}

.border-line:hover{
  border: 3px solid #32425c;
}

.border-line:active{
  opacity: 0.3;
}

.green-back{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;

  margin-top: 30px;
  margin-bottom: 8px;
}

.green-back:hover{
  background-color: #5fbb2d;
}

.green-back:active{
  background-color: #367315;
}

.user-navigation-button-green:hover{
  background-color: #5fbb2d;
}

.user-navigation-button-green:active{
  background-color: #367315;
}

.green-back:before{
  position: absolute;
  content: url(../img/cart-icon.svg);
  opacity: 0.3;
  left: 55px;
  top: 40px;
}

.green-back:hover::before{
  content: url(../img/cart-icon.svg);
  opacity: 1;
}

.main-price-block{
  margin-bottom: 20px;
}

.price-block{
  width: 940px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block-catalog{
  width: 700px;

  margin: 0px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.price-block-element{
  position: relative;
  border: 1px solid #eaeaea;

  width: 220px;
  height: 318px;

  margin-right: 20px;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
}

.price-block-element:hover{
  -webkit-box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
}

.price-block-element:nth-child(4n){
  margin-right: 0px;
}

.puncher-one{
  padding-top: 41px;
  padding-left: 6px;

  margin-bottom: 15px;
}

.puncher-two{
  padding-top: 33px;
  padding-left: 32px;

  margin-bottom: 17px;
}

.puncher-three{
  padding-top: 38px;
  padding-left: 19px;

  margin-bottom: 17px;
}

.puncher-four{
  padding-top: 33px;
  padding-left: 24px;

  margin-bottom: 17px;
}

.price-block-element-catalog{
  position: relative;
  border: 1px solid #eaeaea;
  width: 220px;
  height: 318px;

  margin-top: 20px;
  margin-right: 20px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.price-block-element-catalog:hover{
    -webkit-box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
}

.price-block-element-catalog:nth-child(3n){
  margin-right: 0;
}

.price-block-element-catalog .price-block-buy{
  display: none;
}

.price-block-element-catalog:hover .price-block-buy{
  display: block;
}

.price-block-buy{
  position: absolute;
  top: 2px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.9);

  width: 210px;
  min-height: 150px;

  z-index: 10;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-block-element .price-block-buy{
  display: none;
}

.price-block-element:hover .price-block-buy{
  display: block;
}

.price-block-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-align: center;

  max-width: 160px;

  padding-left: 29px;

  margin-top: 21px;
  margin-bottom: 11px;
}

.price-block-price,.grey-text{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  font-weight: bold;
  text-align: center;
  text-decoration: line-through;

  margin: 0px;
}

.price-block-link{
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  font-weight: bold;

  padding: 15px 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  text-align: center;
  margin-left: 42px;

  background-image: url(../img/btn14.png);
  background-repeat: no-repeat;
  background-position: center;
}

.top-bot{
  padding-bottom: 18px;
}

.item-block{
  width: 940px;

  margin-bottom: 61px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.item-block-title{
  background-color: #f9f5f0;

  padding: 26px;

  margin-bottom: 20px;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bold-brands-text{
  font-size: 28px;
  line-height: 30px;
  color: #32425c;

  text-transform: uppercase;

  margin: 0;
}

.all-brands-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
  border-radius: 2px;

  padding-left: 71px;
  padding-right: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.all-brands-button:hover{
  background-color: #ca2c37;
}

.all-brands-button:active{
  background-color: #ba2732;
}

.brands-block-item{
  color: #ffffff;
  border: 1px solid #eaeaea;

  width: 220px;
  height: 145px;

  margin-bottom: 20px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands-block-item:hover{
  -webkit-box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
}

.brands-block-item:active{
  -webkit-box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
}

.brands-block-item:not(:nth-child(4n)){
  margin-right: 17px;
}

.brands-block-item-link{
  width: 100%;
  height: 100%;

  padding-bottom: 7px;
  padding-left: 4px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-block{
  background-color: #f4f8f9;
}

.services-block-text-bold{
  font-size: 29px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  padding-left: 0px;

  margin: 0px;
  margin-top: 14px;
}

.services-block-text{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  margin: 0px;
  margin-top: 26px;

  width: 402px;
}

.services-link{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-link::after{
  position: absolute;
  content: url(../img/118.png);
  right: 0px;
  top: -40px;

  width: 10px;
  height: 279px;
}

.services-button{
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 23px;
  padding-right: 140px;
}

.services-button:hover:not(.services-button-active){
  background-color: #293449;
}

.services-button:active:not(.services-button-active){
  color: #32425c;
  background-color: #ffffff;
}

.services-bold-text{
  font-size: 35px;
  line-height: 36px;
  text-transform: uppercase;

  margin: 0px;
}

.services-text{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  margin: 0px;
  margin-top: 19px;
}

.delivery-text{
  max-width: 278px;
  margin-top: 23px
}

.services-car:after{
  content: url("../img/delivery.png");
  position: absolute;
  right: -340px;
  bottom: -8px;
}

.services-none{
  display: none;
}

.services-block{
  display: block;
}

.services-button-active{
  display: block;
  color: #32425c;
  background-color: #ffffff;
}

.services-credit::after{
  position: absolute;
  content: url("../img/credit.png");
  right: -350px;
  bottom: 0px;
}

.credit-text{
  width: 283px;

  padding-bottom: 20px;
}

.credit-button{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  border-radius: 2px;

  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 10px;
}

.credit-button:hover{
  background-color: #ca2c37;
}

.credit-button:active{
  background-color: #ba2732;
}

.company-info-block{
  margin-top: 81px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 86px;
}

.company-info-bold-text{
  font-size: 29px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  margin: 0px;
}

.company-info-text{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  width: 526px;

  margin: 0;
  margin-top: 24px;
}

.company-info-text-two{
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  width: 526px;

  margin: 0;
  margin-top: 24px;
}

.company-info-list{
  margin: 0px;
}

.company-info-list-item{
  position: relative;
}

.company-info-list-item::before{
  position: absolute;
  content: "";
  background-color: #ee3643;
  top: 11px;
  left: -40px;

  width: 25px;
  height: 2px;
}

.list-item-text{
  font-size: 18px;
  line-height: 20px;
  color: #000000;

  padding-top: 2px;
}

.about-company-info{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  text-transform: uppercase;

  padding-left: 40px;
  padding-right: 41px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 19px;
}

.about-company-info:hover{
  background-color: #ca2c37;
}

.about-company-info:active{
  background-color: #ba2732;
}

.company-map-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-text{
  font-family: "PT Sans", Arial, sans-serif;
  width: 184px;

  margin-bottom: 30px;
}

.map-container{
  padding-bottom: 20px;
}

.map-button-info{
  font-size: 14px;
  font-family: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  text-align: center;
  text-transform: uppercase;

  padding-top: 7px;
  padding-bottom: 7px;

  margin-top: 13px;
}

.map-button-info:hover{
  background-color: #ca2c37;
}

.map-button-info:active{
  background-color: #ba2732;
}

.footer-logo{
  height: 63px;
  font-size: 29px;
  line-height: 30px;
}

.footer-contaner{
  background-color: #32425c;
}

.footer-navigation-link,
.footer-info-text,
.contacts-footer-number{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  margin: 0px;
}

.footer-info-text{
  width: 350px;

  padding-bottom: 35px;

  margin-top: 24px;
  margin-left: 3px;
}

.number-footer-text{
  font-size: 19px;
}

.footer-navigation-link.gold-text{
  color: #ffd180;
}

.footer-navigation-link:hover{
  text-decoration: underline;
}

.footer-navigation-link:active{
  text-decoration: none;
  opacity: 0.3;
}

.copyright-back{
  background-color: #293449;
}

.page-copyright{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: flex-start;
}

.page-copyright-text{
  width: 238px;

  padding-top: 38px;
  padding-bottom: 34px;

    margin: 0;
}

.social-item{
  padding-right: 5px;
}

.social-link{
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;


  width: 40px;
  height: 40px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-link:hover{
  background-color: #ee3643;
}

.gold-text{
  color: #ffd180;
}

.red-text:active{
  color: #ee3643;
}

.sorting-link{
  padding: 0px;
}

.icon-sorting{
  margin-left: 6px;
}

.icon-sorting-bottom{
  margin-left: 20px;
}

.icon-sorting-top{
  fill: #000;
  opacity: 0.3;
}

.icon-sorting-top:hover{
  opacity: 1;
}

.sorting-link:active .sorting-icon-checked{
  opacity: 1;
  fill: #ee3643;
}

.icon-sorting-bottom{
  fill: #000;
  opacity: 0.3;
}

.icon-sorting-bottom:hover{
  opacity: 1;
}

.checked-sorting .sorting-icon-checked{
  opacity: 1;
  fill: #ee3643;
}

.social-link-vk{
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-fb{
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-insta{
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.red-back{
  background-color: #ee3643;
}

.red-back:hover{
  background-color: #ca2c37;
}

.red-back:active{
  background-color: #ba2732;
  color: rgba(255, 255, 255, 0.3);
}


.login-contaner{
  background-color: #fff;

  width: 299px;

  margin-top: 23px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-name{
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  padding-left: 47px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 10px;

  margin: 0px;
}

.login-out{
  position: relative;
}

.user-name::before{
  position: absolute;
  content: url("../img/icon-user.svg");
  opacity: 0.3;
  top: 11px;
  left: 12px;
}

.user-name:active{
  opacity: 0.3;
}

.login-out::after{
  position: absolute;
  content: url("../img/icon-logout.svg");
  opacity: 0.3;
  top: 12px;
  right: -31px;
}

.user-name:hover::before{
  content: url("../img/icon-user.svg");
  opacity: 1;
}

.login-out:hover::after{
  content: url("../img/icon-logout.svg");
  opacity: 1;
}

.login-out:active::after{
  content: url("../img/icon-logout.svg");
  opacity: 0.3;
}

.modal-button-text-underlog{
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  padding: 0px;
  padding-left: 15px;
  padding-right: 18px;

  margin-bottom: 16px;
}

.point-element{
  position: relative;
}

.point-element::before{
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #32425c;
  top: 9px;
  left: 106px;

  width: 4px;
  height: 4px;
}

.modal-button-text-underlog:hover{
  color: #ee3643;
}

.modal-button-text-underlog:active{
  color: #32425c;
  opacity: 0.3;
}

.breadcrumbs-site-navigation{
  margin-bottom: 3px;
}

.breadcrumbs-list{
  margin: 0px;
  padding: 0px;
  padding-bottom: 15px;
  padding-top: 18px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs-list-item{
  position: relative;
}

.breadcrumbs-list-button{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  padding-right: 16px;

  margin: 0px;
}

.icon-right{
  padding-left: 25px;
}

.icon-right::before{
  position: absolute;
  content: url(../img/icon-right-small.png);
  top: 0px;
  left: 0px;
}

.img-link:before{
  content: url("../img/icon-home.svg")
}

.info-catalog-back{
  background-color: #f2f6f8;
}

.info-block-catalog{
  padding-top: 60px;
  padding-bottom: 68px;
}

.catalog-text-bold{
  font-size: 28px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  padding-top: 4px;
  padding-bottom: 6px;

  margin: 0px;
}

.catalog-text-bold-down{
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  padding-top: 4px;
  padding-bottom: 6px;

  margin: 0px;
}

.catalog-block{
    background-color: #f2f6f8;
    padding: 24px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    margin-bottom: 20px;
}

.grey-back{
  background-color: #f7f3ec;
}

.filter-text{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  border-radius: 2px;

  margin: 0px;
}

.filter-text-link{
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  padding: 0px;

  margin: 0px;
  margin-left: 32px;
  margin-right: 37px;
}

.underline-text{
  color: #c5c5c5;
  border-bottom: 1px dotted #ee3643 ;
}

.underline-text:hover:not(.active-underline-text){
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.underline-text:active:not(.active-underline-text){
  color: #ee3643;
  border-bottom: none;
}

.active-underline-text{
  color: #ee3643;
  border-bottom: none;
}

.grey-line{
  border: none;
  color: #eaeaea;
  background-color: #eaeaea;
  height: 1px;
}

.bold-name-form{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;

  margin: 0px;
  margin-top: 10px;
  margin-bottom: 7px;
  padding-top: 2px;
}

.focus-input:focus{
  outline: none;
  border: 2px solid #ee3643;
  border-radius: 2px;
}

.range{
  margin-top: 13px;
}

.range-controls {
	position: relative;
  display: block;
	overflow: hidden;
  background-color: #f7f3ec;
  border-radius: 3px;

  width: 160px;
  height: 80px;

  margin: 0 0 9px;
  padding: 0 30px;
}

.scale {
	height: 2px;
	margin-top: 39px;
	background-color: #d7dcde;
}

.bar {
	width: 87%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 4px;
	height: 4px;
	border: 8px solid #fff;
	background-color: #ababab;
	border-radius: 50%;
	cursor: pointer;
}

.range-controls .min-toggle {
	left: 21px;
}

.range-controls .max-toggle {
	left: 160px;
}

.price-controls {
	margin-bottom: 26px;
	color: #000;
}

.price-min,
.price-max {
  font-family: "PT Sans","Arial",sans-serif;
	width: 81px;
	font-weight: 400;
	font-style: normal;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	background-color: #f7f3ec;
	border: none;
	border-radius: 3px;

  padding: 9px 7px 12px 8px;
  margin: 0;
}

.price-min + span {
	margin-left: 6px;
	font-size: 17px;
	line-height: 30px;
}

.price-max {
	margin-left: 4px;
}

.checkbox-container{
  padding: 7px 30px 9px 30px;
}

.checkbox-container-radio{
  padding: 14px 25px 0px 34px;
}

.checkbox-container-radio-one{
  padding: 7px 25px 2px 34px;
}


.label-text{
  position: relative;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;

  padding-left: 3px;
}

.label-text:before{
  position: absolute;
  content: url(../img/checkbox-off.png);
  top: -2px;;
  left: -30px;
  opacity: 0.7;
}

.label-text:hover:before{
  opacity: 1;
}

.label-text,
.radio-label-text,
.button-form{
  cursor: pointer;
}

.checkbox-input:checked + .label-text:before{
  position: absolute;
  content: url(../img/checkbox-on.png);
  top: -2px;;
  left: -30px;
}

.checkbox-input:disabled ~ .label-text{
  opacity: 0.3;
}

.checkbox-input:disabled ~ .label-text:before{
  opacity: 0.3;
}

.radio-filter{
  margin-bottom: 76px;
}

.radio-input:disabled ~ .radio-label-text:before{
  opacity: 0.3;
}

.radio-input:disabled ~ .radio-label-text{
  opacity: 0.3;
}

.radio-label-text{
  position: relative;
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
}

.radio-label-text:before{
  position: absolute;
  content: url(../img/radio-off.png);
  top: -2px;;
  left: -35px;
  opacity: 0.5;
}

.radio-input:checked + .radio-label-text:before{
  position: absolute;
  content: url(../img/radio-on.png);
  top: -2px;;
  left: -35px;
}

.button-form-block{
  margin-top: 70px;
}

.button-form{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #fff;
  border: none;
  border: 1px solid #e5e5e5;

  padding: 9px 39px;
}

.pagination-item-link{
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 9px;

  padding: 10px 16px 10px 16px;
}

.last-pag-link{
  width: 104px;
}

.pagination-item-link:hover{
  border: 1px solid #bdc6ca;
}

.pagination-item-link:active{
  color: #ffffff;
  background-color: #ee3643;

  border: 1px solid #ee3643;
}

.current-link{
  background-color: #ee3643;
  color: #ffffff;
  border: none;

  padding: 10px 17px 10px 17px;
}

.current-link:hover{
  border: none;
}

.services-text-area{
  padding-top: 50px;
  margin-bottom: 70px;
}

.servise-guarantee::after{
  position: absolute;
  content: url("../img/guarantee.png");
  right: -250px;
  bottom: 0px;
}

.services-slider{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0px;
}

.services-slide{
  position: relative;
  padding-bottom: 130px;

  margin-left: 80px;
}

.footer-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-navigation-gold-text{
  padding-bottom: 63px;

  margin-left: auto;
}

.footer-navigation-link{
  padding: 10px 60px;
}

.footer-navigation-link:last-child{
  padding-right: 0px;
}

.main-footer-info-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-developer{
  width: 100px;

  padding-top: 36px;
  padding-left: 52px;

  margin: 0;
}

.footer-navigation-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0px;
  margin-top: 28px;
}

.parth-two{
  padding: 0px;

  margin: 0;
  margin-top: 14px;
}

.social-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding-top: 35px;
  padding-left: 153px;

  margin: 0;
}

.footer-feedback{
  padding-top: 36px;
  padding-left: 115px;

    margin: 0;
}

.user-modal-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 0px;

  margin: 0px;
  margin-top: 7px;
}

.catalog-flex-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filters{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 20px;
}

.price-block{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 940px;
}

.price-block-catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px;
  width: 700px;
}

.info-container-catalog{
  width: 940px;
  margin: 0 auto;
}

.filters-block{
  min-width: 220px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filters-block-sort{
  width: 700px;
  padding: 8px 9px 6px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters-block-right{
  min-width: 400px;
  margin-left: 110px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.check-box-filters{
  margin-top: 6px;
  margin-bottom: 13px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-item-catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}

.pagination-list{
  padding: 0px;
  padding-left: 240px;
  margin: 0px;
  margin-top: 52px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-page-map{
  position: fixed;
  top: 32%;
  left: 32%;
  width: 620px;
  height: 430px;
  background-color: #fff;
  border-top: 7px solid #ff5357;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 37px;
  padding-top: 15px;
  z-index: 21;
  -webkit-box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.4);

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-none{
  display: none;
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
  70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
  90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@keyframes bounce {
  0% {-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
  70% {-webkit-transform: translateY(30px);transform: translateY(30px);}
  90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
  100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

.modal-show{
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-map-page-form{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.your-email-block{
  margin-left: auto;
}

.modal-page-bold-text{
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
}

.name-form{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: none;
  border: 1px solid #dee3e4;

  padding: 10px 60px 10px 15px;
}

.modal-textarea{
  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  border: none;
  border: 1px solid #dee3e4;
  padding: 15px;

  width: 467px;
}

.one-form{
  margin-left: auto;
}

.modal-page-button{
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  border: none;
  background-color: #ff5357;
  width: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.modal-page-button:hover{
  background-color: #ca2c37;
}

.modal-page-button:active{
  background-color: #ba2732;
}

.modal-close::before,
.modal-close::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 4px;
  background-color: #ee3643;
  border-radius: 3px;
  top: 0px;
  right: -56px;
}

.modal-close::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-close::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.buy-modal-page{
  position: fixed;
  background-color: #fff;
  top: 32%;
  left: 32%;
  width: 620px;
  height: 280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 7px solid #ff5357;
  z-index: 66;
  -webkit-box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.4);
}

.modal-up{
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  display: block;
}

.buy-modal-text-block{
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.buy-modal-text{
  position: relative;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;

  margin: 0;
  padding: 0;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 180px;

}

.buy-modal-text:before{
  position: absolute;
  content: url(../img/form-1.png);
  top: 45px;
  left: 81px;
}

.link-modal-block{
  background-color: #f1f1f1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 37px 80px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-buy-link{
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ee3643;
  padding: 10px 61px;
}

.modal-buy-link:hover{
  background-color: #ca2c37;
}

.modal-buy-link:active{
  background-color: #ba2732;
}

.modal-price-link{
  font-size: 14px;
  line-height: 18px;
  color: #000;
  background-color: #fff;
  padding: 10px 57px;
}

.modal-price-link:hover{
  color: #ee3643;
}

.modal-price-link:active{
  color: rgba(0, 0, 0, 0.3);
}

.link-modal-exit::before,
.link-modal-exit::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 4px;
  border-radius: 3px;
  background-color: #ee3643;
  top: 13px;
  right: 5px;
}

.link-modal-exit::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.link-modal-exit::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
